.app__navigationSection {
    position: fixed;
    z-index: 15;
    right: 120px;
    top: calc(50vh - 200px);
    width: 100px;
    height: 400px;
    transform: perspective(10000px) rotateX(15deg) skewY(-15deg) skewX(45deg);
    perspective: 10000px;
}

.navigationSection__navWrapper {
    color: rgba(255, 255, 255, .15);
    transition: color .3s, transform 1s;
    transform: translateZ(0px);
}

.navigationSection__navWrapper:hover {
    color: rgba(255, 255, 255, 1);
    transition: color .3s, transform 1s;
}
 
.navigationSection__text {
    font-size: 18px;
    text-align: center;
}

.navigationSection__mouse {
    position: relative;
    width: 40px;
    height: 50px;
    margin: 15px 0;
    margin-left: calc(50% - 20px);
    border-radius: 14px;
    border: 2px solid rgba(255, 255, 255, .15);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.navigationSection__navWrapper:hover .navigationSection__mouse{
    border: 2px solid rgba(255, 255, 255, 1);
    transition: .3s;
}

.mouse__wheel {
    position: absolute;
    top: 5px;
    left: calc(50% - 1px);
    width: 3px;
    height: 8px;
    border-radius: 2px;
    background: rgba(255, 255, 255, .15);
    transition: .3s;
}

.navigationSection__navWrapper:hover .mouse__wheel{
    background: white;
    transition: .3s;
}

.mouse__arrow {
    color: rgba(255,255,255,.15);
    font-size: 24px;
    padding-top: 10px;
    transition: .3s !important;
    transition-delay: 0s;
}

.navigationSection__navWrapper:hover .mouse__arrow {
    color: rgba(255,255,255,1);
    transition: .3s !important;
    transition-delay: 0s;
    transform: translate(0px, 0px);
    animation: mouseTranslation .5s ease 0s 1 forwards;
}

.navigationSection__mouse:hover .mouse__arrow {
    color: rgba(255,255,255,1);
    transition: .3s !important;
    transition-delay: 0s;
    transform: translate(0px, 0px);
    animation: mouseTranslation .5s ease 0s 1 forwards;
}

.navigationSection__mouse:hover .mouse__wheel {
    transition: .3s;
    background: #F0DB4F;
}

.lift {
    margin: 20px 0;
}

.lift__floor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15px;
    margin: 20px 0;
    /* cursor: pointer; */
    cursor: url('../../cursors/cursor_pointer.svg'), auto;
}

.lift__floor_active .lift__box {
    background: #F0DB4F;
    transition: .3s;
}

.lift__floor_active .lift__box::before {
    background: #F0DB4F;
    transition: .3s;
}

.lift__floor_active .lift__box::after {
    background: #F0DB4F;
    transition: .3s;
}

.lift__floor_active .lift__name {
    color: #F0DB4F;
    transition: .3s;
}

.lift__floor_active .lift__gate {
    width: 0;
    background: #181818;
    transition: .5s;
}

.lift__box {
    position: relative;
    width: 20px;
    height: 15px;
    background: white;
    transition: .3s;
}

.lift__box::before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 10px;
    background: rgba(255, 255, 255, .5);
    filter: brightness(.5);
    transform: skewY(-45deg) translate(-10px, -5px);
}

.lift__box::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 10px;
    width: 100%;
    background: rgba(255, 255, 255, .5);
    filter: brightness(.5);
    transform: skewX(-45deg) translate(10px, 15px);
}

.lift__name {
    position: relative;
    transform: skewX(-45deg) translate(0px, 7px);
    font-size: 24px;
    height: 36px;
    transition: .3s;
}

.lift__gate {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #181818;
    transition: .5s;
}

.navigation__headingAnimation {
    opacity: 0;
    transition: .3s;
}

@keyframes mouseTranslation {
    0% {
        transform: translate(0px, 0px);
    }

    33% {
        transform: translate(0px, 2px);
    }

    66% {
        transform: translate(0px, -2px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}